<%- include('../partials/header') %>
<p>Please first ensure that the Ticket is not in the dropdown

</p>
<form id="add-ticket-form" action="/tickets" method="POST">
  <input type="hidden" name="flight" value="<%=flightId %>">
  <label>Seat:</label>
  <input type="text" name="seat" pattern="[A-F][1-9]\d?">
  <label>Price:</label>
  <input type="number" name="price">
  <input type="submit" value="Add Ticket">
</form>
<%- include('../partials/footer') %>