<%- include('../partials/header') %>
<p>Please first ensure that the Ticket is not in the dropdown
  <select>
    <% tickets.forEach(function(p) { %>
      <option><%= p.seat %></option>
    <% }) %>
  </select>
</p>
<form id="add-ticket-form" action="/tickets" method="POST">
  <label>Seat:</label>
  <input type="text" name="seat" pattern="[A-F][1-9]\d?">
  <label>Price:</label>
  <input type="number" name="price">
  <label>Flight:</label>
  <input type="text" name="flight">
  <input type="submit" value="Add Ticket">
</form>
<%- include('../partials/footer') %>